  <!DOCTYPE HTML>
  <html xmlns:th="http://www.thymeleaf.org">
  <head>
  <meta charset="UTF-8" />
  <title>Welcome</title>
  <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
  </head>
  <body>
  	<div th:replace="fragments/header :: header">
  		<h1> Liste Carte</h1>
  	</div>
  	<ul>
  		<li th:each="carte : ${carteList}">
  			<div>
  				<h3 th:utext="'Name: ' +${carte.name}">...</h3>

  				</div>
  				<h5 th:text="'Description:  '+${carte.description}">...</h5>
  				<h5 th:text="'Family:  ' +${carte.family}">...</h5>
  				<h5 th:text="'Affinity:  ' +${carte.affinity}">...</h5>
  				<h5 th:int="'hp:  '+${carte.hp}">...</h5>
  				<h5 th:int="'attack:  '+${carte.attack}">...</h5>
  				<h5 th:int="'defence:  '+${carte.defence}">...</h5>
  				<h5 th:int="'energy:  '+${carte.energy}">...</h5>
  			</div>
  		<li>
  	</ul>
  </body>
  </html>
