    <!DOCTYPE HTML>
    <html xmlns:th="http://www.thymeleaf.org">
    <head>
    <meta charset="UTF-8" />
    <title>Welcome</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />
    </head>
    <body>
    	<div th:replace="fragments/header :: header">
    		<h1> THIS IS A DEFAULT HEADER</h1>
    	</div>
    	<div>
    	<h3 th:utext="'Name: ' +${myCarte.name}">...</h3>
    	<img th:src="${myCarte.imgUrl}" alt="">
		
		<h3 th:utext="'Description: '+${myCarte.description}">...</h3>
		<h3 th:utext="'Family:  '+${myCarte.family}">...</h3>
		<h3 th:utext="'Affinity:  '+${myCarte.affinity}">...</h3>
		<h3 th:utext="'Hp:  ' +${myCarte.hp}">...</h3>
		<h3 th:utext="'Energy: '+${myCarte.energy}">...</h3>
		<h3 th:utext="'Attack: ' +${myCarte.attack}">...</h3>
		<h3 th:utext="'Defence : '+${myCarte.defence}">...</h3>
    	</div>
    </body>
    </html>
