<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Welcome</title>
<link rel="stylesheet" type="text/css" th:href="@{/css/style.css}" />

</head>
<body>
		<div th:replace="fragments/header :: header">
		<h1> THIS IS A DEFAULT HEADER</h1>
	</div>
	<form th:action="@{/addCarte}"
         th:object="${carteForm}" method="POST">
		<fieldset >
			<legend >Add your Carte ! </legend>
			<div >
				<label for="form-name">Name</label>
				<div >
					<input id="form-name" type="text"
						placeholder="Carte name..." th:field="*{name}">
				</div>
			</div>
			<div >
				<label  for="form-description">Description</label>
				<div >
					<input  id="form-description" type="text"
						placeholder="Description..." th:field="*{description}">
				</div>
				<label  for="form-imgUrl">Image URL</label>
				<div >
					<input  id="form-imgUrl" type="text"
						placeholder="Carte image" th:field="*{imgUrl}">
				</div>
				<label  for="form-family">Family</label>
				<div >
					<select  type="select" id="form-family"
						th:field="*{family}">
   						<option value="Coeur">Coeur</option>
   						<option value="Trèfle">Trèfle</option>
   						<option value="Carreau">Carreau</option>
   						<option value="Pique">Pique</option>
					</select>
				</div>
				<label  for="form-affinity">Affinity</label>
				<div >
					<select type="select" id="form-affinity" 
					th:field="*{affinity}">
   						<option value="Feu">Feu</option>
   						<option value="Vent">Vent</option>
   						<option value="Eau">Eau</option>
   						<option value="Terre">Terre</option>
   						
					</select>
				</div>
				<label  for="form-hp">HP</label>
				<div >
					<input  id="form-hp" type="range"
						min="0" max="100"
						th:field="*{hp}">
				</div>
				<label  for="form-energy">Energy</label>
				<div >
					<input  id="form-energy" type="range"
						min="0" max="100"
						th:field="*{energy}">
				</div>
				
				<label  for="form-attack">Attack</label>
				<div >
					<input  id="form-attack" type="range"
						min="0" max="100"
						th:field="*{attack}">
				</div>

				<label  for="form-defence">Defence</label>
				<div >
					<input  id="form-defence" type="range"
						min="0" max="100"
						th:field="*{defence}">
				</div>
			</div>
			<div >
				<input type="submit"  class="uk-button uk-button-default" value="+OK" />
			</div>
			<div >
				<input type="submit"  class="uk-button uk-button-default" value="Cancel" />
			</div>

		</fieldset>
	</form>

</body>

</html>
			
